radiotv/src/main/resources/context.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Context">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Parameter" type="ParameterType" />
    </xsd:sequence>
    <xsd:attribute name="docBase" type="xsd:string" />
  </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ParameterType">
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="value" type="xsd:string" />
    <xsd:attribute name="override" type="xsd:boolean" />
  </xsd:complexType>
</xsd:schema>
